services:
  # First service : PHP app + Nginx
  app:
    # Using image has build and pushed to DockerHub
    image: rifqiananda/mifx-nginx-php:latest

    # Map port 80 in container to port 8080 on host
    ports:
      - "8080:80"

    # Mount folder app/ in host to /var/www/html/ in container
    # If you change edit index.php, you can see the changes without rebuild the image
    volumes:
      - ./app:/var/www/html

    # Make sure services db is up before app start
    depends_on:
      - db

  # Second service : PostgreSQL database
  db:
    # Using official PostgreSQL image
    image: postgres:16

    # Map port 5432 in container to port 5432 on host
    ports:
      - "5432:5432"
    
    # Set environment variables for PostgreSQL
    environment:
      # Password for postgres user (superuser default)
      POSTGRES_PASSWORD: strongpassword

      # Automatically create a database named 'sre' when the container starts
      POSTGRES_DB: sre

      # Username that will be owner of the 'sre'database
      POSTGRES_USER: fullaccess_user

    volumes:
      # Mount a volume named pgdata to save data persistently, so data won't be lost when container is terminated
      - pgdata:/var/lib/postgresql/data
      # Run init.sql automatically when container starts
      # Every file in this folder will be executed automatically 
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql

      # Mount config custom PostgreSQL from local file
      - ./database/postgresql.conf:/etc/postgresql/postgresql.conf

    # Ask PostgreSQL to use custom config file
    command: postgres -c config_file=/etc/postgresql/postgresql.conf

# Define volume named pgdata 
volumes:
  pgdata:

  